/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-quotes-collection-quotes {
}

.wp-block-quotes-collection-quotes blockquote.quotescollection-quote {
	margin: 2.4em 0;
	padding: 1.6em;
	border-radius: 3px;
}
.wp-block-quotes-collection-quotes blockquote.quotescollection-quote p {
	margin: 0 0 1.4em 0;
}

.wp-block-quotes-collection-quotes blockquote.quotescollection-quote p:last-child {
	margin: 0;
}

.wp-block-quotes-collection-quotes blockquote.quotescollection-quote .attribution {
	margin: 1.4em 0 0 0;
	padding: 0;
}
